/* Базовый сброс отступов браузера */
body {
    margin: 1;
    font-family: sans-serif;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: 1500px;
    background-position: right top;
    background-color:  rgb(113, 0, 200);
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Стили для контейнера шапки */
.site-header {
    background-color: rgb(0, 174, 255);
    color: #fff;
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

/* Стили для контейнера логотипа и текста */
.logo {
    padding-left: 0;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: 10px; /* Небольшой отступ для читаемости */
}

/* Стили для самого изображения логотипа */
.logo-img {
    height: 50px;
    width: auto;
}

/* Стили для текста рядом с картинкой */
.site-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0; 
}

/* Стили для навигационного меню */
.main-nav ul {
    display: flex; 
    padding-right: 10px;
    margin-right: 10px; /* Небольшой отступ от правого края для читаемости */
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem; 
    display: block;
    transition: background-color 0.3s;
}

.main-nav li a:hover {
    background-color: rgb(0, 137, 200);
    border-radius: 4px;
}

/* Стили для основного контента */
main {
    margin-left: 60px;
    color: #ffffff;
    font-size: 0px
    
    px;
}

.dav52{
    list-style-type: square;
}

.div-text{
    background-color: #4060cb;
    font-size: 25px;
    font-family: comic sans ms;
    height: auto;
    width: 800px;
    margin-top: 100px;
    border-radius: 15px;
    padding: 0.5rem 1rem; 

}

.icons-list li{
    vertical-align: middle;
   

}
.icons-list span{
    vertical-align: middle;
}

.icons-list img{
    vertical-align: middle;
}
a {
  text-decoration: none; /* Убирает подчеркивание */
  color: #fff;
}

.pety{
      position: absolute;
  top: 200px;
  left: 1000px;
      border-radius: 15px;
        width: 300px;
  height: 300px;
}